<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'inicio_paleteria' %}">Sistema de Administración Paletería</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'inicio_paleteria' %}">Inicio</a></li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Proveedor</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_proveedor' %}">Agregar Proveedor</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_proveedor' %}">Ver Proveedor</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Producto</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_producto' %}">Agregar Producto</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_producto' %}">Ver Producto</a></li>
              <li><a class="dropdown-item" href="#">Actualizar Producto</a></li>
              <li><a class="dropdown-item" href="#">Borrar Producto</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cliente</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_cliente' %}">Ver Cliente</a></li>
              <li><a class="dropdown-item" href="{% url 'actualizar_cliente' id=1 %}">Actualizar Cliente</a></li>
              <li><a class="dropdown-item" href="{% url 'borrar_cliente' id=1 %}">Borrar Cliente</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  