{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Agregar Cliente</h2>
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="nombre" placeholder="Nombre" class="form-control mb-2" required>
    <input type="text" name="apellido" placeholder="Apellido" class="form-control mb-2" required>
    <input type="text" name="telefono" placeholder="Teléfono" class="form-control mb-2" required>
    <input type="email" name="email" placeholder="Correo electrónico" class="form-control mb-2" required>
    <input type="text" name="direccion" placeholder="Dirección" class="form-control mb-2" required>
    <label>Producto:</label>
    <select name="id_producto" class="form-control mb-2">
      {% for producto in productos %}
        <option value="{{ producto.id_producto }}">{{ producto.nombre }} ({{ producto.sabor }})</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
{% endblock %}
